<!DOCTYPE html>
<html lang="en">
<head>
	<title>TestApplication - Profile</title>
	<% include ./parts/head %>
</head>
<body>
<div class="container">
	<% include ./parts/navigation %>
	<!-- LOCAL INFORMATION -->
	<div class="well">
		<h3><span class="fa fa-user"></span> Admin</h3>

			<p>
				<strong>id</strong>: <%= user._id %><br>
				<strong>email</strong>: <%= user.email %><br>
				<strong>password</strong>: <%= user.password %><br>
				<strong>First Name</strong>: <%= user.firstName %><br>
				<strong>Last Name</strong>: <%= user.lastName %><br>
				<strong>Created</strong>: <%= user.create %><br>
				<strong>Updated</strong>: <%= user.update %><br>
			</p>
	</div>
</div>

<footer>
	<% include ./parts/footer %>
</footer>
	
</body>
</html>
