<div class="well">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Number</th>
				<th>Complete</th>
				<th>Project</th>
				<th>Create</th>
				<th>Update</th>
				<th>Options</th>				
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<milestonelist.length; i++) { %>
			<tr id="table-row-<%= i+1 %>">
				<td><%= i+1 %></td>
				<td class="id" style="display:none"><%= milestonelist[i]._id %></td>
				<td class="name"><%= milestonelist[i].name %></td>
				<td class="number"><%= milestonelist[i].number %></td>
				<td class="complete"><%= milestonelist[i].complete %></td>
				<td>
					<select class="form-control projectId" size="1" disabled>
						<% for(var y=0; y<projects.length; y++) { %>
							<%var a = JSON.stringify(projects[y]._id) %>
							<%var b = JSON.stringify(milestonelist[i].projectId._id) %>					
							<% if (a === b) { %>
								<option value=<%= projects[y]._id %> selected><%= projects[y].name %></option>
							<% } else { %>
								<option value=<%= projects[y]._id %> ><%= projects[y].name %></option>
							<% } %>
						<% } %>
					</select>	
				</td>
				<td class="create"><%= milestonelist[i].create.toDateString() + " " + milestonelist[i].create.toLocaleTimeString()%></td>
				<td class="update"><%= milestonelist[i].update.toDateString() + " " + milestonelist[i].update.toLocaleTimeString()%></td>
				<td>
					<i class="fa fa-times delete-milestone" id="row-<%= i+1 %>"></i>
				</td>				
			</tr>
			<% } %>
		</tbody>
	</table>
</div>